@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #000000;
  --purple-periwinkle: #543787;
  --sea-blue: #7CB8C0;
  --yellow-honey: #FEB737;
  --blue-columbia: #D4E0F0;
  --green: #00674F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Satoshi-Variable", "Satoshi-Regular", "Satoshi-Medium", "Satoshi-Bold", "Satoshi-Black", system-ui, -apple-system, sans-serif;
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Satoshi-Variable", "Satoshi-Regular", "Satoshi-Medium", "Satoshi-Bold", "Satoshi-Black", system-ui, -apple-system, sans-serif;
}

::selection {
  background-color: #e5e7eb;
  color: #000000;
}

::-moz-selection {
  background-color: #f0f0f0;
  color: #111827;
}

.highlight-reveal {
  position: relative;
  overflow: hidden;
}

.highlight-reveal::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition: left 0.3s ease-in-out;
  z-index: -1;
}

.highlight-reveal:hover::before {
  left: 0;
}